<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>User List</title>
</head>
<body>
<table border="1">
    <thead>
    <tr>
        <th>User Id</th>
        <th>User Name</th>
        <th>Password</th>
        <th>Role</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.userId}"></td>
        <td  th:text="${user.userName}"></td>
        <td  th:text="${user.password}"></td>
        <td  th:text="${user.role.name}"></td>
        <td><a th:href="@{/user/edit/{id} (id = ${user.id})}">Edit</a></td>
        <td><a th:href="@{/user/delete/{id} (id = ${user.id})}">Delete</a></td>
    </tr>
    </tbody>
</table>
<p><a th:href="@{/}">Welcome</a></p>
</body>
</html>